@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: mainFont;
  src: url(assets/font/CormorantGaramond-Italic.ttf);
}

@font-face {
    font-family: secondFont;
    src: url(assets/font/CormorantGaramond-Regular.ttf);
}

body {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #1b18145c;
  backdrop-filter: blur(28px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.logo a {
  display: inline-block;
}

.logo img {
  height: 50px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-family: secondFont, sans-serif;
  font-weight: 900;
  font-size: x-large;
  display: inline-block;
  transition: transform 0.3s ease;
  text-shadow: 0 0 5px #fff;
}

.nav-links a:hover {
  transform: translateY(-5px);
}

footer {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #20160928;
  backdrop-filter: blur(20px);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  font-family: mainFont, sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

footer a:hover {
  color: aliceblue;
}

@media screen and (max-width: 820px) {
  body {
    background-image: url(assets/img/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
  }

  .logo img {
    height: 45px;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: x-large;
  }
}
